@font-face {
    font-family: 'Poppins', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
}

@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(257, 40%, 49%);
    background-image: url(bg-desktop.svg);
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 1400px 970px;
    overscroll-behavior: none;
    margin: auto;
    max-width: 650px;
    max background-clip: content-box;
}

#logo {
    position: relative;
    width: 210px;
    height: 50px;
    padding: 60px 0px 0px 0px;
    right: 30%;
}

#mockup {
    position: relative;
    top: 190px;
    right: 190px;
    padding: 0px 0px 0px 0px;
}

.side-items {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    left: 90%;
    bottom: 300px;
    background-clip: padding-box;
    margin: auto;
}

.heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.sub {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    background-color: white;
    color: hsl(257, 40%, 49%);
    box-shadow: rgba(0, 0, 0, 0.596);
    border-radius: 28px;
    border: none;
    padding: 15px 65px 15px 65px;
    position: relative;
    left: 90%;
    bottom: 290px;
}

.button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.829);
}

.icons {
    display: flex;
    position: relative;
    left: 145%;
    bottom: 20px;
    justify-content: space-evenly;
    width: 200px;
}

.fab {
    color: white;
    font-size: 1.5em;
    border: 2px solid white;
    border-radius: 150px;
    padding: 10px;
}


/* mobile screen size */

@media screen and (max-width: 600px) {
    body {
        background: hsl(257, 40%, 49%) url(bg-mobile.svg) no-repeat;
    }
    #logo {
        position: relative;
        width: 100px;
        height: 80px;
        top: 0px;
        left: 30px;
        padding: 20px 0px 0px 0px;
    }
    #mockup {
        position: relative;
        width: 300px;
        top: 0px;
        left: 30px;
        padding: 0px 0px 0px 0px;
    }
    .button {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        background-color: white;
        color: hsl(257, 40%, 49%);
        box-shadow: rgba(0, 0, 0, 0.596);
        border-radius: 28px;
        border: none;
        padding: 15px 65px 15px 65px;
        position: relative;
        top: 10px;
        left: 80px;
    }
    .side-items {
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        left: 0px;
        top: 0px;
        text-align: center;
    }
    .icons {
        display: flex;
        left: 90px;
        bottom: 0px;
        top: 100px;
        width: 150px;
    }
    .fab {
        font-size: 16px;
        border: 1px solid white;
        padding: 7px;
    }
}